asgiref==3.4.1
Babel==2.5.1
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
charset-normalizer==2.0.7
circuitbreaker==1.3.1
click==8.0.4
cloud-init==21.1
configobj==5.0.6
configshell-fb==1.1.28
cryptography==3.2.1
dataclasses==0.8
dbus-python==1.2.4
decorator==4.2.1
defusedxml==0.6.0
Django==3.2.16
django-rest-framework==0.1.0
djangorestframework==3.14.0
docutils==0.14
Flask==2.0.3
gpg==1.13.1
gunicorn==20.1.0
html5lib==0.999999999
httpie==2.6.0
idna==2.5
importlib-metadata==4.8.3
isc==2.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonpatch==1.21
jsonpointer==1.10
jsonschema==2.6.0
kmod==0.1
Ksplice-Uptrack==1.2.79
libcomps==0.1.18
lockfile==0.11.0
lxml==4.2.3
MarkupSafe==2.0.1
netaddr==0.7.19
netifaces==0.10.6
nftables==0.1
nvmetcli==0.7
oauthlib==2.1.0
oci==2.85.0
oci-utils==0.14.0
pciutils==2.3.6
perf==0.1
ply==3.9
prettytable==0.7.2
psutil==5.4.3
pycairo==1.16.3
pycparser==2.14
pycurl==7.43.0.2
pydbus==0.6.0
Pygments==2.2.0
pygobject==3.28.3
PyJWT==1.6.1
pyOpenSSL==19.0.0
pyparsing==2.1.10
pyserial==3.1.1
PySocks==1.6.8
python-daemon==2.2.4
python-dateutil==2.7.5
python-linux-procfs==0.7.0
pytz==2017.2
pyudev==0.21.0
PyYAML==5.4.1
requests==2.20.0
requests-toolbelt==0.9.1
rhnlib==2.8.6
rpm==4.14.3
sdnotify==0.3.2
selinux==2.9
sepolicy==1.1
setools==4.3.0
setroubleshoot==1.1
six==1.11.0
slip==0.6.4
slip.dbus==0.6.4
sos==4.2
sqlparse==0.4.3
SSSDConfig==2.6.2
systemd-python==234
typing-extensions==4.1.1
urllib3==1.24.2
urwid==1.3.1
webencodings==0.5.1
Werkzeug==2.0.3
zipp==3.6.0
