{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/prequirurgico.css') }}">
<section class="frame-parent">
   
    <h2>Datos de Paciente</h2>
    <form class="datos-paciente" action="">
        <row>
            <label for="nombre-input">Nombre Completo</label>
            <input class="input" type="text" name="nombre" id="nombre-input">
        </row>

        <label for="rut-input">RUT</label>
        <input class="input" type="text" name="rut" id="rut-input">

        <label for="nacimiento-input">Fecha de Nacimiento</label>
        <input class="input" type="date" name="nacimiento" id="nacimiento-input">

        <label for="cirugia-input">Cirugia a realizar</label>
        <input class="input" type="text" name="cirugia" id="cirugia-input">

        <label for="numero-input">Telefonos de contacto</label>
        <input class="input" type="tel" name="numero1" id="numero-input">
        <input class="input" type="tel" name="numero2" id="numero-input">

    </form>
</section>
{% endblock %}