{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/prequirurgico.css') }}">
<div class="frame-login">
   <div class="login-side left">
      <div class="chile-block"></div>
      <div class="container-text">
         <h2>PORTAL INTRANET</h2>
         <p>Servicio de Salud<br>Metropolitano<br>Sur Oriente</p>
      </div>
   </div>
   <div class="login-side right">
      <form action="">
         <h3>INICIAR SESIÓN</h3>
         <input type="text" placeholder="Ingresa tu RUN" class="login-input">
         <input type="password" placeholder="Ingresa tu Clave" class="login-input">
         <input type="button" value="¿Olvidaste tu Clave?" class="login-forgot">
         <input type="submit" value="INGRESAR" class="login-ingresar">
      </form>
   </div>
</div>
{% endblock %}