<!-- BARRA DE PROGRESO -->
<section class="frame-progress">
    <div class="progreso m-x-auto">
        <span class="barra-progreso" style="width: {{data.barProgress}};"></span>
    </div>
    <div data-step="{{data.step}}" class=" text-center" id="parent-steps">
        <div class="step">
            <div class="circle">1</div>
            <span>Actualizar Datos de Pacientes</span>
        </div>
        <div class="step">
            <div class="circle">2</div>
            <span>Evaluación de Riesgo</span>
        </div>
        <div class="step">
            <div class="circle">3</div>
            <span>Derivación</span>
        </div>
    </div>
</section>